@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #27374D;
  --color-grey: #526D82;
  --color-brown: #9DB2BF;
  --color-beige: #DDE6ED;
  --background: var(--color-beige);
  --text-color: var(--color-black);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: var(--color-black);*/
/*    --color: var(--color-beige);*/
/*  }*/
/*}*/

body {
  color: var(--text-color);
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
