@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #393646;
  --color-grey: #4f4557;
  --color-brown: #6d5d6e;
  --color-beige: #f4eee0;
  --background: var(--color-beige);
  --text-color: var(--color-black);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: var(--color-black);*/
/*    --color: var(--color-beige);*/
/*  }*/
/*}*/

body {
  color: var(--text-color);
  background: var(--background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
